<section class="flex flex-col items-center gap-y-12 pt-20">
  <div>
    <h2 class="text-5xl">Sobre mí</h2>
  </div>
  <div class="flex flex-col gap-y-5 p-3 max-w-[800px] text-font2">
    <p class="text-base text-center">
      Programador Full Stack con especialización en desarrollo Frontend e IT. Me
      dedico a crear experiencias de usuario cautivadoras y a resolver problemas
      complejos en sistemas de información.
    </p>
    <p class="text-base text-center">
      Programador Full Stack con especialización en desarrollo Frontend e IT. Me
      dedico a crear experiencias de usuario cautivadoras y a resolver problemas
      complejos en sistemas de información.
    </p>
  </div>
</section>
