---
import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="flex flex-col items-center gap-y-12 pt-20">
  <div>
    <h2 class="text-5xl">{i18n.aboutme.title}</h2>
  </div>
  <div class="flex flex-col gap-y-5 p-4 max-w-[900px] text-font2">
    <p class="text-base text-pretty">
      {i18n.aboutme.description_1}
    </p>
    <p class="text-base text-pretty">
      {i18n.aboutme.description_2}
    </p>
    <p class="text-base text-pretty">
      {i18n.aboutme.description_3}
    </p>
  </div>
</section>
