---
const works = [
  {
    title: "Full Stack Developer",
    company: "Freelancer",
    date: "2023 - Present",
    description:
      "Como desarrollador full stack freelance, tengo experiencia en el desarrollo tanto del front-end como del back-end, lo que me permite ofrecer soluciones web integrales. Desde el diseño de interfaces de usuario hasta la optimización del rendimiento del servidor, proporciono soluciones personalizadas y de alta calidad que impulsan el éxito empresarial.",
  },
  {
    title: "IT Technician",
    company: "Primavera Sound",
    date: "MAY - JUNE 2023",
    description:
      "Trabajé en la resolución de problemas informáticos y en la configuración tanto de impresoras como de computadoras. Además, participé en la organización de impresoras y sus configuraciones de red.",
  },
  {
    title: "IT Technician",
    company: "Alten Esp",
    date: "MAY - JUNE 2023",
    description:
      "Mi trabajo consistía en resolver problemas informáticos relacionados con el software tanto para nuestra empresa como para los clientes a los que servíamos. También tenía habilidades en Microsoft Office.",
  },
];
---

<section class="flex flex-col items-center gap-y-12 pt-20">
  <div>
    <h2 class="text-5xl">Experiencia</h2>
  </div>
  <div class="flex flex-col gap-11 max-w-[800px] p-3">
    {
      works.map((work) => (
        <div class="flex flex-col gap-6">
          <div class="flex justify-between items-center">
            <h3 class="text-xl">
              {work.title} /
              <span class="text-base text-orange"> {work.company}</span>
            </h3>
            <p class="text-font2 text-sm font-light">{work.date}</p>
          </div>
          <div>
            <p class="text-font2 text-base">{work.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
