<section
  class="flex flex-col items-center md:flex-row md:justify-between gap-y-8 pb-10 max-w-[800px] m-auto pt-28"
>
  <div>
    <p class="text-font2 text-xs">© 2024 · Using Astro by Javier Azagra.</p>
  </div>
  <div class="flex gap-x-10 text-font2 text-xs">
    <a
      class="hover:underline"
      href="https://github.com/javiiazagra"
      target="_blank">GitHub</a
    >
    <a
      class="hover:underline"
      href="https://www.linkedin.com/in/javier-azagra-garc%C3%ADa/"
      target="_blank">Linkedin</a
    >
    <a
      class="hover:underline"
      href="https://instagram.com/12jav1"
      target="_blank">Instagram</a
    >
  </div>
</section>
