<section class="flex flex-col items-center gap-y-8 pb-28 pt-28">
  <h2>Javier Azagra</h2>
  <p class="text-font2 text-xs">
    Este sitio web ha sido creado por <span>Javier Azagra</span> utilizando la tecnología
    Astro.
  </p>
</section>
