---
import Buttons from "./Buttons.astro";
---

<section
  class="flex flex-col gap-y-4 md:flex-row justify-between py-6 max-w-[1168px] m-auto"
>
  <div class="flex items-center gap-x-4 px-4">
    <img src="/logowhite.webp" alt="Logo" width="40px" height="auto" />
    <h1>Javier Azagra</h1>
  </div>
  <div class="flex flex-col md:flex-row gap-x-4">
    <Buttons
      name="GitHub"
      bg="bg-orange"
      color="text-black"
      link="https://github.com/javiiazagra"
    />
    <Buttons
      name="Contacto"
      bg="bg-font"
      color="text-black"
      link="mailto:javiazagra12@gmail.com"
    />
  </div>
</section>
