---
import Bug from "src/icons/Bug.astro";
import Github from "src/icons/Github.astro";

import LanguageSelector from "@components/LanguageSelector.astro";

import { getI18N } from "@i18n/index";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section
  class="flex flex-col gap-y-4 md:flex-row justify-between md:px-4 py-6 max-w-[1168px] m-auto"
>
  <div class="flex items-center gap-x-4 pl-3 md:pl-0">
    <img src="/assets/logowhite.webp" alt="Logo" width="40px" height="auto" />
    <h1>Javier Azagra</h1>
  </div>
  <div class="flex flex-col md:flex-row md:items-center gap-x-4">
    <a
      class="h-full flex gap-x-1 items-center justify-center px-4 py-2 border border-font md:rounded-md text-black bg-font hover:border-white hover:bg-bgcolor hover:text-white"
      href="https://github.com/JaviiAzagra"
      target="_blank"
      rel="norreferer"
      ><Github />
      <span>GitHub</span>
    </a>
    <a
      class="flex gap-x-1 items-center justify-center px-4 py-2 border border-orange md:rounded-md text-black bg-orange hover:border-white hover:bg-bgcolor hover:text-white"
      href="https://github.com/JaviiAzagra/javierazagra.com-astro/issues/new"
      target="_blank"
      rel="norreferer"
      ><Bug />
      <span>Bugs</span>
    </a>
    <LanguageSelector />
  </div>
</section>
