---
import Linkedin from "src/icons/Linkedin.astro";
import Contact from "src/icons/Contact.astro";
import Skills from "./Skills.astro";

import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="pt-8 md:pt-12 flex flex-col gap-5">
  <div class="flex items-center justify-center">
    <img
      src="/assets/hero.webp"
      alt="Logo"
      class="rounded-full object-cover"
      width="280px"
      height="280px"
    />
  </div>
  <div
    class="flex flex-col items-center justify-center gap-6 p-4 max-w-[900px] m-auto"
  >
    <h1 class="text-4xl md:text-6xl text-font light:text-black">
      Javier Azagra
    </h1>
    <h2 class="text-2xl md:text-3xl text-orange">Full Stack Developer</h2>
    <p class="text-pretty text-font2">
      {i18n.hero.about}
    </p>
    <div class="flex gap-x-10 items-center justify-center">
      <a
        class="inline-flex items-center justify-center gap-x-1 px-4 py-2 border border-orange rounded-md text-black bg-orange hover:border-white hover:bg-bgcolor hover:text-white"
        href="mailto:javiazagra12@gmail.com"
        target="_blank"
        rel="norreferer"><Contact /> {i18n.hero.contact}</a
      >
      <a
        class="flex items-center justify-center gap-x-1 px-4 py-2 border border-font rounded-md text-black bg-font hover:border-white hover:bg-bgcolor hover:text-white"
        href="https://www.linkedin.com/in/javier-azagra-garc%C3%ADa/"
        target="_blank"
        rel="norreferer"><Linkedin /> Linkedin</a
      >
    </div>

    <Skills />
  </div>
</section>
