<section class="grid grid-cols-4 md:grid-cols-8 gap-8 md:gap-10 pt-10">
  <img class="w-[40px] h-auto" src="/icons/html.png" alt="html" />
  <img class="w-[40px] h-auto" src="/icons/css.png" alt="css" />
  <img class="w-[40px] h-auto" src="/icons/js.png" alt="js" />
  <img class="w-[40px] h-auto" src="/icons/tailwind.png" alt="tailwind" />
  <img class="w-[40px] h-auto" src="/icons/sass.png" alt="sass" />
  <img class="w-[40px] h-auto" src="/icons/astro.png" alt="astro" />
  <img class="w-[40px] h-auto" src="/icons/react.png" alt="react" />
  <img class="w-[40px] h-auto" src="/icons/angularjs.png" alt="angular" />
  <img class="w-[40px] h-auto" src="/icons/sql.png" alt="sql" />
  <img class="w-[40px] h-auto" src="/icons/mongo.png" alt="mongodb" />
  <img class="w-[40px] h-auto" src="/icons/node.png" alt="node" />
  <img class="w-[40px] h-auto" src="/icons/linux.png" alt="linux" />
  <img class="w-[40px] h-auto" src="/icons/vscode.png" alt="vscode" />
  <img class="w-[40px] h-auto" src="/icons/git.png" alt="git" />
  <img class="w-[40px] h-auto" src="/icons/office.png" alt="office" />
  <img class="w-[40px] h-auto" src="/icons/figma.png" alt="figma" />
</section>
