<section class="grid grid-cols-4 md:grid-cols-8 gap-10 pt-10">
  <img src="/icons/html.png" alt="html" width="40px" height="auto" />
  <img src="/icons/css.png" alt="css" width="40px" height="auto" />
  <img src="/icons/js.png" alt="js" width="40px" height="auto" />
  <img src="/icons/tailwind.png" alt="tailwind" width="40px" height="auto" />
  <img src="/icons/sass.png" alt="sass" width="40px" height="auto" />
  <img src="/icons/astro.png" alt="astro" width="40px" height="auto" />
  <img src="/icons/react.webp" alt="react" width="40px" height="auto" />
  <img src="/icons/angularjs.png" alt="angular" width="40px" height="auto" />
  <img src="/icons/sql.png" alt="sql" width="40px" height="auto" />
  <img src="/icons/mongo.png" alt="mongodb" width="40px" height="auto" />
  <img src="/icons/node.png" alt="node" width="40px" height="auto" />
  <img src="/icons/linux.png" alt="linux" width="40px" height="auto" />
  <img src="/icons/vscode.png" alt="vscode" width="40px" height="auto" />
  <img src="/icons/git.png" alt="git" width="40px" height="auto" />
  <img src="/icons/office.png" alt="office" width="40px" height="auto" />
  <img src="/icons/figma.png" alt="figma" width="40px" height="auto" />
</section>
