---
const skills = [
  {
    name: "HTML",
    icon: "/icons/html.png",
  },
  {
    name: "CSS",
    icon: "/icons/css.png",
  },
  {
    name: "JavaScript",
    icon: "/icons/js.png",
  },
  {
    name: "Tailwind CSS",
    icon: "/icons/tailwind.png",
  },
  {
    name: "Sass",
    icon: "/icons/sass.png",
  },
  {
    name: "Astro",
    icon: "/icons/astro.png",
  },
  {
    name: "React",
    icon: "/icons/react.webp",
  },
  {
    name: "Next.js",
    icon: "/icons/nextjs.png",
  },
  {
    name: "Angular",
    icon: "/icons/angularjs.png",
  },
  {
    name: "SQL",
    icon: "/icons/sql.png",
  },
  {
    name: "MongoDB",
    icon: "/icons/mongo.png",
  },
  {
    name: "Node.js",
    icon: "/icons/node.png",
  },
  {
    name: "Linux",
    icon: "/icons/linux.png",
  },
  {
    name: "VS Code",
    icon: "/icons/vscode.png",
  },
  {
    name: "Git",
    icon: "/icons/git.png",
  },
  {
    name: "Office",
    icon: "/icons/office.png",
  },
  {
    name: "Figma",
    icon: "/icons/figma.png",
  },
];
---

<section class="grid grid-cols-4 md:grid-cols-8 gap-10 pt-10">
  {
    skills.map((skill) => (
      <div>
        <img src={skill.icon} alt={skill.name} width="40px" height="40px" />
      </div>
    ))
  }
</section>
