---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img,
  video {
    max-width: none;
    height: auto;
  }

  @font-face {
    font-family: "BSBlack";
    src:
      url("/fonts/BSBlack.woff2") format("woff2"),
      url("/fonts/BSBlack.woff") format("woff"),
      url("/fonts/BSBlack.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: "BSBlack", sans-serif;
    background: #000306;
    background-image: url("/bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
</style>
